<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zode64.trellodoing"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AdderActivity"
                  android:excludeFromRecents="true"
                  android:launchMode="singleInstance"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".ActionActivity"
                  android:exported="true"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".KeepDoingActivity"
                  android:exported="true"
                  android:theme="@android:style/Theme.Dialog">
        </activity>

        <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver
            android:name=".widget.DoingWidget"
            android:label="@string/widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_doing"/>
        </receiver>

        <!-- Service to perform web API queries -->
        <service android:name=".widget.DoingWidget$UpdateService">
            <intent-filter>
                <data android:mimeType="text/plain" android:scheme="intent"/>
                <action android:name="com.zode64.trellodoing.intent.action.CLOCK_OFF"/>
                <action android:name="com.zode64.trellodoing.intent.action.SET_DEADLINE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.zode64.trellodoing.intent.action.REFRESH"/>
                <action android:name="com.zode64.trellodoing.intent.action.DEADLINE_ALARM"/>
                <action android:name="com.zode64.trellodoing.intent.action.STANDARD_ALARM"/>
                <action android:name="com.zode64.trellodoing.intent.action.SET_ALARM"/>
                <action android:name="com.zode64.trellodoing.intent.action.STOP_ALARM"/>
                <action android:name="com.zode64.trellodoing.intent.action.ADD_PERSONAL_CARD"/>
                <action android:name="com.zode64.trellodoing.intent.action.TODAY_BOARDS_SWITCH"/>
                <action android:name="com.zode64.trellodoing.intent.action.NETWORK_CHANGE"/>
            </intent-filter>
        </service>

        <receiver android:name=".widget.DoingWidget$NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".widget.DoingWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service
            android:name=".widget.TodayWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service
            android:name=".widget.ClockedOffWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>


